* {
    margin: 0;
    padding: 0;
    /*touch-action: none;*/
}


html,
body {
    height: 100%;
    background-color: #F2F2F2;
}

body::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 3px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

body::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px #3B91FF;
    background: #3B91FF;
}

body::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px #F2F2F2;
    border-radius: 5px;
    background: #F2F2F2;
}


.hjf-overflow::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 3px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.hjf-overflow::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px #600000;
    background: #600000;
}

.hjf-overflow::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px #7B7B7B;
    border-radius: 5px;
    background: #EDEDED;
}


body {
    overflow-y: scroll;
}

/*主体背景色*/
/*body {*/
/*!*border: solid 1px red;*!*/
/*background: linear-gradient(#e9edf0, #d4dee7) no-repeat;*/
/*background-size: 100%;*/

/*}*/

ul li {
    list-style: none;
}

a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    /*-moz-user-focus: none;*/
    -moz-user-select: none;
    color: #000;
    text-decoration: none;
}

button {
    outline: none;
}

.hide {
    display: none;
}


.layui-table-cell {
    text-align: center;
    height: 100%;
    max-width: 100%;
}

.zhezhu {
    position: absolute;
    width: 98%;
    height: 90%;
    /*border: 1px red solid;*/
    z-index: 100;
}

.hua-form-button {
    position: fixed;
    bottom: -16px;
    left: 0px;
    background: #FCFCFC;
    width: 100%;
    height: 60px;
}

.hua-form-button .layui-input-block {
    position: relative;
    top: 10px;
}

.top-button {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    margin: 0;
    font: 14px Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: all .3s;
    -webkit-transition: all .3s;
    background-color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    width: 100%;
    height: 44px;
    line-height: 44px;
    z-index: 100;
}

.kuai {
    height: 50px;
}

/*上传文件按钮大样式*/

.file {
    position: relative;
    display: inline-block;
    background: lightseagreen;
    border: 1px solid lightseagreen;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: white;
    text-decoration: none;
    text-indent: 0;
    line-height: 28px;
}

.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.file:hover {
    background: lightgreen;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}


.print-table td,
.print-table th {
    border-color: black;
    text-align: center;
    font-size: 20px;
    font-family: "KaiTi", "楷体", "宋体", Arial, Helvetica, sans-serif, "";
}

.print-table tr {
    height: 50px;
}

.big-text strong {
    display: inline-block;
    text-align: center;
    width: 6%;
}

.big-text strong:last-child {
    text-decoration: underline;
}

.big-text span {
    display: inline-block;
    text-align: center;
    width: 15%;
}

.table-title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 30px;
    font-family: "KaiTi", "楷体", "宋体", Arial, Helvetica, sans-serif, "";
    /*text-decoration:underline;*/
    /*text-indent: 30px;*/
}

.table-title2 {
    width: 100%;
    /*text-align: center;*/
    font-size: 20px;
    /*font-weight: bold;*/
    letter-spacing: 3px;
    font-family: "KaiTi", "楷体", "宋体", Arial, Helvetica, sans-serif, "";
    /*text-decoration:underline;*/
    /*text-indent: 30px;*/
}

.table-title2 span {
    display: inline-block;
    width: 49%;
}

.table-title2 span:first-child {
    text-align: left;
}

.table-title2 span:last-child {
    text-align: right;
}

.table-foot span {
    font-family: "KaiTi", "楷体", "宋体", Arial, Helvetica, sans-serif, "";
    font-size: 20px;
    text-indent: 2em;
    display: inline-block;
    text-align: left;
    width: 33%;
}

.hjf-padding {
    padding: 15px;
}

.hjf-text-center {
    text-align: center !important;
}

.hjf-shade{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(143,143,146,0.5);
    z-index: 444444;
}
.hjf-left-menu{
    background-color: black;
    position: fixed;
    width: 60%;
    height: 100%;
    z-index: 444444;
}



[v-cloak] {
    display: none;
}

/* layui样式修改 */
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #5BC0DE;
}

.layui-form-checked[lay-skin=primary] i {
    border-color: #5BC0DE !important;
    background-color: #5BC0DE;
    color: #fff;
}

.layui-side-menu,
.layadmin-pagetabs .layui-tab-title li:after,
.layadmin-pagetabs .layui-tab-title li.layui-this:after,
.layui-layer-admin .layui-layer-title,
.layadmin-side-shrink .layui-side-menu .layui-nav > .layui-nav-item > .layui-nav-child {
    background-color: #5BC0DE !important;
}

.layadmin-pagetabs .layui-tab-title li.layui-this:after {
    width: 100%;
    border: none;
    height: 2px;
    background-color: #5BC0DE;
}

.layadmin-pagetabs .layui-tab-title li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 0;
    background-color: #5BC0DE;
    transition: all .3s;
    -webkit-transition: all .3s;
}

/* layui.css:3843 */
.layui-tab-title .layui-this:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 41px;
    border-width: 1px;
    border-style: solid;
    border-bottom-color: #fff;
    border-radius: 2px 2px 0 0;
    box-sizing: border-box;
    pointer-events: none;
}

/* layui.css:1752 */
.layui-badge-rim,
.layui-colla-content,
.layui-colla-item,
.layui-collapse,
.layui-elem-field,
.layui-form-pane .layui-form-item[pane],
.layui-form-pane .layui-form-label,
.layui-input,
.layui-layedit,
.layui-layedit-tool,
.layui-quote-nm,
.layui-select,
.layui-tab-bar,
.layui-tab-card,
.layui-tab-title,
.layui-tab-title .layui-this:after,
.layui-textarea {
    border-color: #e6e6e6;
}

.layui-layer-btn0 {
    color: white !important;
}

.layui-form-switch em{
    color:white!important;
}
.layui-form-switch{
    background-color: #FF5151;
}
.layui-form-onswitch{
    border-color: #5FB878;
    background-color: #5FB878;
}
body .layer-class1 .layui-layer-content {
    background: #F2F2F2;
}


/*element-ui 抽屉样式*/
.demo-drawer__content {
    padding: 20px;
}

.demo-drawer__footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.el-button-class {
    width: 40%;
}

.layui-nav-tree .layui-nav-bar {
    width: 5px;
    height: 0;
    background-color: #5BC0DE;
}

.touch-action {
    touch-action: none;
}

.hjf-header {
    margin-top: 40px;
}

.hjf-background-black {
    background-color: black;
    color: white;
}


/*图片预览*/
.mui-bar{
    color:white;
    background-color: #73C5FF;
}
.mui-bar .mui-title,.mui-bar .mui-icon{
    color:white;
}

.mui-preview-image.mui-fullscreen {
    position: fixed;
    z-index: 20;
    background-color: #000;
}

.mui-preview-header,
.mui-preview-footer {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
}

.mui-preview-header {
    height: 44px;
    top: 0;
}

.mui-preview-footer {
    height: 50px;
    bottom: 0px;
}

.mui-preview-header .mui-preview-indicator {
    display: block;
    line-height: 25px;
    color: #fff;
    text-align: center;
    margin: 15px auto 4px;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    font-size: 16px;
}

.mui-preview-image {
    display: none;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.mui-preview-image.mui-preview-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.mui-preview-image.mui-preview-out {
    background: none;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
    display: none;
}

.mui-zoom-scroller {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-backface-visibility: hidden;
}

.mui-zoom {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.mui-slider .mui-slider-group .mui-slider-item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
    width: 100%;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
    display: inline-table;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
    display: table-cell;
    vertical-align: middle;
}

.mui-preview-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.mui-preview-loading.mui-active {
    display: block;
}

.mui-preview-loading .mui-spinner-white {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    height: 50px;
    width: 50px;
}

.mui-preview-image img.mui-transitioning {
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.mui-content {
    background-color: #F2F2F2;
    -webkit-overflow-scrolling: touch;
}

/*element-ui样式修改*/
.el-select{
    width: 100%;
}
.el-date-editor el-input el-input--medium el-input--prefix el-input--suffix el-date-editor--datetime{
    width: 100%;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner{
    width: 100%;
}



